   .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 
  
  
  body {
    font-family: "tahoma", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 63.5%;
    background-color: pink;
    padding: 1rem 1rem;
  }
  
  
   .main {
    background-color:lightblue;
    padding: 3rem 2rem;
  } 
  

  
  .card {
    padding: 2rem 1rem;
    background-color: gray;
     border-radius: 15px; 
    position: relative;
    margin-top: 2rem;
  }
  
  
  
  .prize__percent {
    background-color:orange;
    color: white;
    font-size: 10px;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    position: absolute;
    right: 3rem;
    z-index: 1000;
  }
  
  .img-title {
    font-size: 2.5rem;
    z-index: 1000;
    text-align: center;
  }
  
  
  
  .image-layout {
    overflow: hidden;
    margin-top: 2rem;
  }
  
  .card_image {
    width: 100%;
    height: 150px;
    
  }
  
  
  .text-center {
    color: grey;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  .prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prices-amount-old {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    color: orange;
    text-decoration: line-through;
    text-align:center;
  }
  
  
  .prices-amount-new {
    display: block;
    color: limegreen;
  }
  
  .cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: limegreen;
  }
  
  .cart-btn__text {
    font-size: 2.4rem;
    color: limegreen;
    display: block;
    margin-bottom: 3px;
  }
  
  .card:hover {
    box-shadow: 0px 1.5rem 3rem rgba(0, 0, 0, 0.15);
    
  }
   
